@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #2b2354;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
      color:#2b2354;
  }
}

.navbar-fixed-top {
    color: #2b2354;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar {
    color: #2b2354;
}

.navbar-default {
  background-color: #2b2354;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.btn-m {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
}

td {
  padding: 1vmax;
}
