{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit Barber Profile</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/editbarber.css' %}"
    rel="stylesheet">
    
</head>
    
<body id="page-top" class="index">  
    
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="barberhome.html">E-clips</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="help.html">Help</a>
                </li>
                <li>
                    <a href="../../..">Log Out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    </nav>
    

    {% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
    {% endif %}


    <form role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <section id="editbarber">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.profilePic.errors }}
                            <label for="{{ form.profilePic.id_for_label }}">Profile Picture: </label>
                            <br>{{ form.profilePic }}
                        </div>
                        <div class="form-group">
                            {{ form.description.errors }}
                            <label for="{{ form.descripition.id_for_label }}">Description: </label>
                            <br>{{ form.description }}
                        </div>
                        <div class="form-group">
                            {{ form.phone.errors }}
                            <label for="{{ form.phoneNumber.id_for_label }}">Please provide your phone number: </label>
                            <br>{{ form.phone }}
                        </div>
                        <div class="form-group">
                            {{ form.price.errors }}
                            <label for="{{ form.price.id_for_label }}">How much do you charge for a haircut? </label>
                            <br>{{ form.price }}
                        </div>
                        <div class="form-group">
                            {{ form.address.errors }}
                            <label for="{{ form.address.id_for_label }}">Address: </label>
                            <br>{{ form.address }}
                        </div>
                        <div class="form-group">
                            {{ form.walkin.errors }}
                            <label for="{{ form.walkin.id_for_label }}">Where do you cut hair?</label>
                            <br>{{ form.walkin }}
                        </div>
                        <div class="form-group">
                            {{ form.schedule.errors }}
                            <label for="{{ form.schedule.id_for_label }}">What days and time?</label>
                            <br>{{ form.schedule }}
                        </div>
                        <div class="form-group">
                            {{ form.skills.errors }}
                            <label for="{{ form.skills.id_for_label }}">What kind of haircuts?</label>
                            <br>{{ form.skills }}
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 text-center">
                            <div id="success"></div>
                            <button onclick="" type="submit" class="btn btn-xl" >Finish</button>
                        </div>
                    </div>
                </div>
            </div>    
        </section>   
    </form> 
    
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/agency.min.js' %}"></script>
    </body>
    
     <script>
        function clickFinish() {
           window.location="barberhome.html";
        }
    </script>
    
</html>  