{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up Page</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/signup2.css' %}"
    rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>

    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script>
    $(document).ready(function(){
          $('#datetimepicker1').datetimepicker();

    });
    </script>
</head>
    
    <body id="page-top" class="index">  
        
        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button><!--  -->
                <a class="navbar-brand page-scroll" href="../login.html">E-clips</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../help.html">Help</a>
                    </li>
                    <li>
                        <a href="../../..">Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
        </nav>



        <form role="form" action="" method="post">
        {% csrf_token %}

        <section id="signup">

            <div class="container">
                <h3> Schedule an Appointment</h3>
                    {% if form.errors %}
                    <p style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} below.
                    </p>
                    {% endif %}

                <p>{{ form.non_field_errors }}</p>

                <div class="row" style="margin:20px 0px;">

                    <h5 style="margin:10px 0px;"> Select a time for the appointment </h5>
                    <!-- calendar insert jquery -->
                    <div class="container" style="  ">
                        <div class="row">
                            <div class='col-sm-6'>
                                    <div class='input-group date' id='datetimepicker1'>
                                        {{ form.when.errors }}
                                        <label placeholder="" for="{{
                                        form.when.id_for_label }}">
                                        
                                            {{ form.when }}
                                            <span class="input-group-addon">
                                                Time and Date &nbsp;<span class="glyphicon glyphicon-calendar"></span>
                                            </span>

                                        </label>
                                        
                                    </div>
                                
                            </div>
                            
                        </div>
                    </div>

                    <h5> Select a location for the appointment </h5>

                    <div class="form-group">
                        {{ form.password.errors }}
                        {% for radio in form.addressChoice %}
                        <label class="switch">
                            {{radio}}
                        </label>
                        {% endfor %}
                    </div>
               

                    <div class="col-md-12 text-center">
                        <div id="success"></div>
                        <button  type="submit" class="btn btn-xl" >Schedule Appointment</button>
                    </div>
            
                </div>    
            </section>   
        </form> 
    
    </body>
</html>  