{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eclips</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/signup2.css' %}"
    rel="stylesheet">
    
</head>
    
<body id="page-top" class="index">        
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">E-Clips</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        
    <section id="signup">
        <div class="container">
            <div class="row">
                <form name="createaccount" id="signupForm">
                    <div class="col-md-12">
                        
                        <label for="firstName">First Name: </label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="John" id="firstName" required data-validation-required message="Please enter your first name.">
                        </div>
                        <label for="lastName">Last Name: </label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Doe" id="lastName" required data-validation-required message="Please enter your last name.">
                        </div>
                        <label for="email">Email Address: </label>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="name@example.com" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                        <label for="password">Password: </label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="At least 5 characters long" id="password" required data-validation-required message="Please create a password with at least 5 characters.">
                        </div>
                        <label for="phone">Phone Number: </label>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="(800) 123-4567" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Create Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>    
    </section>     
    </body>
</html>   